#cta.pane
  .row
    .small-12.columns.text-center
      %h2
        = t :cta_headline
        %br/
        = t :cta_subheadline
      %a.button.transparent{:href => "/register/auth#/signup?after_login=%2Fregister"}
        = t :cta_label
